<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.InvenToryDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.InvenTory">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="NUM" jdbcType="DECIMAL" property="num" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GOODS_ID, NUM, STATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inventory
    where ID = #{id,jdbcType=VARCHAR}
  </select>
</mapper>