<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.LeaveMessageDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.LeaveMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createdBy" jdbcType="VARCHAR" property="createdby" />
    <result column="messageCode" jdbcType="VARCHAR" property="messagecode" />
    <result column="messageTitle" jdbcType="VARCHAR" property="messagetitle" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jbit.entity.LeaveMessage">
    <result column="messageContent" jdbcType="LONGVARCHAR" property="messagecontent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createdBy, messageCode, messageTitle, state, createTime
  </sql>
  <sql id="Blob_Column_List">
    messageContent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leave_message
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>